@model MNJvWeb.Models.Master.InputMasterItemTreatmentModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/buttons.print.js"></script>

<div class="page-title">
    <h1>Input Item (Threatment & Product) Master</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card2">
            <div class="bs-component">
                <form id="frm1" class=" form-inline">
                    <div class="form-group">
                        <label for="exampleInputEmail2">Item Group</label>
                        <select class="form-control" id="selGroup" name="selGroup"></select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Item Code</label>
                        <select class="form-control" id="selItem" name="selItem" required></select>

                        <label class="control-label " for="exampleInputEmail2">Type</label>
                        <select class="form-control" id="selType" name="selType">
                            <option value="all">ALL</option>
                            <option value="1">Treatment</option>
                            <option value="2">Product</option>
                        </select>

                        <label for="exampleInputEmail2">Customer</label>
                        <select class="form-control" id="selCustomer" name="selCustomer"></select>

                        @*<label class="control-label" for="exampleInputEmail2">Action</label>

                            <select class="form-control" id="selÀction" name="selÀction">
                                <option value="PREVIEW">Preview</option>
                                <option value="PRINT">Print</option>
                            </select>*@
                        <button type="button" id="btnViewReport" class="btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
                        <button type="button" id="btnNew" class="btn-primary"><i class="fa fa-search" aria-hidden="true"></i> New </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card" id="grid">
            <div class="row" id="preview">
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" width="100%" id="gridResult">
                            <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Item Type</th>
                                    <th>Group Item</th>
                                    <th>Customer Group</th>
                                    <th>Item Name</th>
                                    <th>Unit Price</th>
                                    <th>UoM</th>
                                    <th>Stock</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            @*<iframe name="rpt" width="100%" height="500" id="rpt"></iframe>*@
        </div>


    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="mdlAdd"  role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Add New Item & Product</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" style="margin-bottom:5px; padding-bottom:5px">
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbItemCd" class="col-sm-2 control-label">Item Code</label>
                        <input type="text" class="form-control col-md-8" id="tbItemCd" readonly>
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbCustomer" class="col-md-2 control-label">Customer</label>
                        <select class="form-control" id="selCustomerAdd" name="selCustomerAdd" style="width:25%"></select>
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbType" class="col-md-2 control-label">Type</label>
                        <select class="form-control" id="selTypeAdd" name="selTypeAdd">
                            <option value="1">Treatment</option>
                            <option value="2">Product</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbGroup" class="col-md-2 control-label">Group</label>
                        <select class="form-control" id="selGroupAdd" name="selGroupAdd" style="width:25%"></select>
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbItemName" class="col-md-2 control-label">Item Name</label>
                        <input type="text" class="form-control col-md-8" id="tbItemNm">
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbUnitPrice" class="col-md-2 control-label">Unit Price</label>
                        <input type="number" class="form-control col-md-8" id="tbUnitPrice">
                    </div>
                    <div class="form-group" style="margin-bottom:5px; padding-bottom:5px">
                        <label for="lbUom" class="col-md-2 control-label">Uom</label>
                        <select class="form-control" id="selUomAdd" name="selUomAdd" style="width:25%"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlRemove" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are You sure to delete this Item Code </p>
                <label for="item_cd_del"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnRemove" class="btn btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>

<div id="loadScreen" style="display:none" class="dvLoading">

</div>

<script type="text/javascript">
    var data_group = [];
    var data_uom = [];
    var data_item = [];
    var data_cust = [];
    var arr_result = [];
    var tbl_inquiry;
    $(document).ready(function () {
      
        
        GetItemGroup();
        GetItem();
        GetCustomer();
        GetUom();
        $('#selType').select2();
        $('#grid').hide();
        

        $("#btnViewReport").click(function (e) {

            var selected_action = $('#selÀction').val();
            var item_grp = $('#selGroup').val();
            var item_cd = $('#selItem').val();
            var type = $('#selType').val();
            var cust = $('#selCustomer').val();

            //if (selected_action == "PREVIEW") {
            //    _rpt.hide();
            $('#grid').show();
            Inquiry(item_grp, item_cd, type, cust);
            //}
            //else {
            //    $('#preview').hide();
            //    $('#grid').show();
            //    document.getElementById("rpt").src = "/Reporting/ItemMasterProductPage.aspx?param=" + item_grp + "|" + item_cd + "|" + type + "|" + cust;
            //    _rpt.show();
            //}

        });

        $('#btnNew').click(function (e) {

            $('#mdlAdd').modal({
                backdrop: 'static'
            });
        });

        $('#btnRemove').click(function (e) {
            var _delID = $("label[for = item_cd_del]").text();
            DeleteItem(_delID);
        });

        $('#btnSave').click(function (e) {
            var _itemCd = $('#tbItemCd').val();
            var _itemNm = $('#tbItemNm').val();
            var _harga = $('#tbUnitPrice').val();
            var _type = $('#selTypeAdd').val();
            var _group = $('#selGroupAdd').val();
            var _cust = $('#selCustomerAdd').val();
            var _uom = $('#selUomAdd').val();

            AddNew(_itemCd, _itemNm, _harga, _type, _group, _cust, _uom);
        });

      
    });

    function GetItemGroup() {
        $('#loadScreen').show();
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetItemGroup")',

            success: function (response) {
                data_group = response.Data;

                $('#selGroup').select2({
                    data: data_group
                });

                var new_datagroup = $.grep(data_group, function (e) {
                    return e.id != '0';
                });
                $('#selGroupAdd').select2({

                    data: new_datagroup
                });

            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });

    }

    function GetItem() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetSPA02MT")',

            success: function (response) {
                data_item = response.Data;

                $('#selItem').select2({
                    data: data_item
                });

            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }

        });

    }

    function GetCustomer() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetCustomerGroup")',

            success: function (response) {
                data_cust = response.Data;

                $('#selCustomer').select2({
                    data: data_cust
                });

                var new_data_cust = $.grep(data_cust, function (e) {
                    return e.id != '0';
                });
                  
                 
                $('#selCustomerAdd').select2({
                    data: new_data_cust
                });

                $('#loadScreen').hide();
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }


        });

    }

    function GetUom() {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/AjaxData/GetUom")',

            success: function (response) {
                data_uom = response.Data;

                $('#selUomAdd').select2({
                    data: data_uom
                });
                
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }


        });

    }

    function Inquiry(itemGrp, itemCd, tipe, custGroup) {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("/ItemMasterTreatment/GetQueryData")',

            data: { itemGrp: itemGrp, itemCd: itemCd, Type: tipe, Customer: custGroup },

            success: function (response) {
                //if (response.Status == "success") {
                //    $('#mdlProgress').modal('hide');
                arr_result = response.Data;
                tbl_inquiry = $('#gridResult').DataTable({
                    data: arr_result,
                    destroy: true,
                    columns: [
                        { data: "ITEM_CD" },
                        { data: "TYPE_NM" },
                        { data: "GROUP_NM" },
                        { data: "CUSTOMER" },
                        { data: "ITEM_NM" },
                        { data: "HARGA" },
                        { data: "UNIT_NM" },
                        { data: "STOCK" },
                        {
                            "data": null,
                            "targets": -1,
                            "render": function (data, type, full) {
                                return "<a  onclick='Edit(" + full['ITEM_CD'] + ")' id='btnEdit" + full['ITEM_CD'] + "'><i class='fa fa-edit'></i></a>" +
                                  " | <button onclick='Delete(" + full['ITEM_CD'] + ")' ><i class='fa fa-trash'></i></button>";
                            },
                            "bSearchable": true,
                            "sortable": false

                        }

                    ],
                    processing: true,
                    dom: 'Bfrtip',
                    buttons: [
                            'print', 'excel'
                    ]
                });

            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }


        });
    }

    function AddNew(ItemCd, ItemNm, price, type, Group, Cust, uom) {

        $.ajax({
            type: "Post",
            url: '@Url.Content("/ItemMasterTreatment/Add")',
            data: { itemGrp: Group, itemCd: ItemCd, Type: type, Customer: Cust, itemNm: ItemNm, Harga: price, Uom: uom },
            success: function (result) {
                if (result == 'success') {
                    alert(result.Status);
                    $('#mdlAdd').modal('hide');
                    location.reload();
                }
                else {
                    alert(result.Status);
                }

            }
        });
    }

    function DeleteItem(Id) {
        $.ajax({
            url: '/ItemMasterTreatment/DeleteItem?id=' + Id,
            method: 'GET',
            success: function (result) {
                alert(result.Status);
            },
            error: function (xml, message, text) {
                toastr.error("Msg: " + message + ", Text: " + text);
            }
        });
    }

    var Edit = function (ID) {
        $.ajax({
            url: '/ItemMasterTreatment/GetItemById?id=' + ID,
            method: 'GET',
            success: function (result) {
                if (result.Status == "success") {
                    $('#tbItemCd').val(result.Item_CD);
                    $('#tbItemCd').disabled;
                    $('#tbItemNm').val(result.Item_NM);
                    $('#selTypeAdd').val(result.Type_CD);
                    $('#selGroupAdd').val(result.Group).trigger('change');
                    $('#selUomAdd').val(result.Uom).trigger('change');
                    $('#selCustomerAdd').val(result.Customer).trigger('change');
                    $('#tbUnitPrice').val(result.Harga);
                    $("#mdlAdd").modal({
                        backdrop: 'static',
                        keyboard: false
                    }, 'show');
                }
            },
            error: function (xml, message, text) {
                toastr.error("Msg: " + message + ", Text: " + text);
            }
        });
        return false;
    }

    var Delete = function (ID) {

        $("label[for = item_cd_del]").text(ID);
        $("#mdlRemove").modal({
            backdrop: 'static',
            keyboard: false
        }, 'show');

        return false;
    }
</script>